<app-nav-bar></app-nav-bar>

<div class="path-container">

<div class="header">

<div class="logo">
LOGICADIA
</div>

<div class="header-right">

<div class="avatar">
🙂
</div>

<div class="xp-badge">
{{ totalXp }} XP
</div>

</div>

</div>


<div class="progress-row">

<span class="progress-label">
{{progressPercent}}%
</span>


<div class="progress-track">

<div 
class="progress-fill"
[style.width.%]="progressPercent">
</div>

</div>

</div>



<div *ngIf="isLoading" class="loading-state">

<div class="spinner-border"></div>

</div>




<div *ngIf="errorMessage" class="alert alert-danger">

{{errorMessage}}

</div>





<div class="learning-map" 
*ngIf="!isLoading && !errorMessage && levels.length > 0">


<div class="character">

🧒

<span>
Start
</span>

</div>




<div class="path-line"></div>





<div 
class="level-card"
*ngFor="let level of levels; let i=index"
(click)="openLevel(level)"
[ngClass]="getStatus(level,i)">



<div class="level-icon">

{{ 
getStatus(level,i)==='completed' 
? '🏆' 
: getStatus(level,i)==='active'
? '⭐'
:
'🔒'
}}

</div>



<h3>

{{level.title}}

</h3>



<p *ngIf="getStatus(level,i)==='active'">

Current Quest 🚀

</p>



</div>





<div class="floating-item item1">
⭐
</div>


<div class="floating-item item2">
🧩
</div>


<div class="floating-item item3">
✨
</div>


</div>





<div 
*ngIf="!isLoading && levels.length===0"
class="empty-state">

No levels available.

</div>





<div class="continue-row"
*ngIf="!isLoading && levels.length > 0">


<button class="continue-btn">

Continue 🚀

</button>


<p class="encourage-text">

You are doing amazing! Keep going! ⭐

</p>


</div>


</div>