<div class="story-page">


<div *ngIf="isLoading" class="loading">

<div class="spinner-border text-light"></div>

</div>



<div *ngIf="errorMessage" class="error-box">

{{errorMessage}}

<button (click)="goBack()">
Back
</button>

</div>




<div *ngIf="story && !isLoading" class="story-content">


<button class="back-btn" (click)="goBack()">
← Back
</button>



<div class="story-card">


<div class="story-icon">
📖
</div>


<h1>
{{story.title}}
</h1>


<p class="story-text">
{{story.narrativeText}}
</p>



<div class="scenario-info">

<span>
🎯 {{story.scenarios.length}} Scenarios
</span>

</div>



<button class="start-btn" (click)="startStory()">

{{story.isCompleted ? 'Replay Story' : 'Start Story'}}

<span>
→
</span>

</button>


</div>


</div>


</div>